:root {
  --primary-color-dark: #A78BFA;
  --primary-color-highlight: #8B5CF6;


  --secondary-color-dark: #7C3AED;
  --secondary-color-highlight: #6D28D9;

  --primary-color-light: #D1D5DB;
  --secondary-color-light: #F9FAFB;


  --primary-bg-color-dark: #1F2937;
  --secondary-bg-color-dark: #111827;
}