.page-header {
  display: grid;
  grid-template-rows: 12rem 5rem 5rem;
  grid-template-columns: 2.5rem 10rem 1fr;
  grid-template-areas: "banner banner banner"
                       "banner banner banner"
                       "margin avatar name";
  
  &.small {
    grid-template-rows: 5rem;
    grid-template-columns: 2.5rem 5rem 1fr;

    position: sticky;
    top: 0;
    margin-bottom: 7rem;

    .banner {
      grid-area: 1 / 1 / 2 / 4;
  
      background-image:
      linear-gradient(30deg, #111827 12%, transparent 12.5%, transparent 87%, #111827 87.5%, #111827),
      linear-gradient(150deg, #111827 12%, transparent 12.5%, transparent 87%, #111827 87.5%, #111827),
      linear-gradient(30deg, #111827 12%, transparent 12.5%, transparent 87%, #111827 87.5%, #111827),
      linear-gradient(150deg, #111827 12%, transparent 12.5%, transparent 87%, #111827 87.5%, #111827),
      linear-gradient(60deg, #11182777 25%, transparent 25.5%, transparent 75%, #11182777 75%, #11182777),
      linear-gradient(60deg, #11182777 25%, transparent 25.5%, transparent 75%, #11182777 75%, #11182777) !important;
      background-color: #1F2937;
      background-size: 8px 14px;
      background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
    }
    .avatar {
      grid-area: 1 / 2 / 2 / 3;
  
      margin: 0.5rem;
    }

    .name {
      grid-area: 1 / 3 / 2 / 4;
  
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--secondary-bg-color-dark);
    }
  }

  .banner {
    grid-area: banner;
    width: 100%;

    background-size: cover;
    background-position-y: 25%;
  }

  .avatar {
    grid-area: 2 / 2 / 4 / 3;
    position: relative;
    
    .image {
      height: 100%;
      width: 100%;

      overflow: hidden;

      border: 2px solid white;
      border-radius: 50%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cta {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      background: rgba(214, 214, 214, 0.295);
      opacity: 0;

      border: 1px solid white;
      border-radius: 50%;

      transition: .3s all;

      form {
        display: none;
      }
    }

    &:hover {
      border: 0;

        .cta {
          opacity: 1;
        }
    
        .image {
          filter: blur(2px);
        }
      }
    }


  .name {
    grid-area: name;
    
    margin-left: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
}