//= require_tree .
//= require_self

// Import ViewComponents sidecared stylesheets
@import "../../components/**/*";

// Global configuration
body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header main"
                       "header footer";
  height: 100vh;
  color: var(--secondary-bg-color-dark);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #111827;
}

body::-webkit-scrollbar-thumb {
  background-color: #7C3AED;
}